{
  "extends": "airbnb",
  "plugins": [
    "jest"
  ],
  "rules":{
    "comma-dangle": ["error", "never"],
    "react/require-default-props": 0,
    "react/jsx-filename-extension": 0,
    "react/no-string-refs": 0,
    "react/forbid-prop-types": 2,
    "react/prefer-stateless-function": 0,
    "react/jsx-max-props-per-line": [2, { "maximum": 2, "when": "multiline" }],
    "no-console": [ "error", { "allow": ["tron"] }], // for reactotron
    "no-unused-vars": ["error", { "args": "none" }], // used mostly for redux standard functional patterns
    "key-spacing": ["error", { "mode": "minimum"}],
    "arrow-body-style": [0, "as-needed", {
      "requireReturnForObjectLiteral": true
    }]
  },
  "env": {
    "jest": true
  }
}
